.project-card {
    padding: 0;
    overflow: hidden;
}

.project-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: var(--transition);
}

.project-card:hover .project-img img {
    transform: scale(1.05);
}

.project-info {
    padding: 24px;
}

.proj-cat {
    font-size: 0.8rem;
    color: var(--secondary);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.project-info h3 {
    margin: 8px 0 16px;
    font-size: 1.5rem;
}

.proj-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: var(--transition);
}

.proj-link span {
    font-size: 1.2rem;
    transition: var(--transition);
}

.proj-link:hover {
    color: var(--text-muted);
}

.proj-link:hover span {
    transform: translate(3px, -3px);
}